# Day 12 Assignment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Dataset=pd.read_csv("general_data.csv")

In [2]:
Dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
Dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [4]:
Dataset.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [5]:
Dataset=Dataset.dropna()

In [6]:
Dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4404    False
4405    False
4406    False
4407    False
4408    False
Length: 4382, dtype: bool

In [8]:
Dataset=Dataset.drop_duplicates()

In [9]:
Attrition_yes=Dataset[Dataset.Attrition=="Yes"]
Attrition_no=Dataset[Dataset.Attrition=="No"]

In [10]:
Attrition_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [11]:
Attrition_no.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

__Mann Whitney Test__

In [12]:
from scipy.stats import mannwhitneyu

__Ho :__ There is No Significant Difference between Attrition(Yes) and Attrition(No) Data.

__Ha :__ There is Significant Difference between Attrition(Yes) and Attrition(No) Data.

__Attrition vs Age__

In [13]:
stats,p = mannwhitneyu(Attrition_yes.Age,Attrition_no.Age)
print(stats,p)

949178.0 7.98668614365882e-30

__Attrition vs BusinessTravel__

In [14]:
stats,p = mannwhitneyu(Attrition_yes.BusinessTravel,Attrition_no.BusinessTravel)
print(stats,p)

1249881.0 0.029614877291203285

__Attrition vs Department__

In [15]:
stats,p = mannwhitneyu(Attrition_yes.Department,Attrition_no.Department)
print(stats,p)

1230902.5 0.0054197115582371854

__Attrition vs DistanceFromHome__

In [16]:
stats,p = mannwhitneyu(Attrition_yes.DistanceFromHome,Attrition_no.DistanceFromHome)
print(stats,p)

1295261.0 0.488538986087403

__Attrition vs Education__

In [17]:
stats,p = mannwhitneyu(Attrition_yes.Education,Attrition_no.Education)
print(stats,p)

1258277.0 0.09888570408770686

__Attrition vs EducationField__

In [18]:
stats,p = mannwhitneyu(Attrition_yes.EducationField,Attrition_no.EducationField)
print(stats,p)

1190200.0 0.0001380350032352316

__Attrition vs EmployeeID__

In [20]:
stats,p = mannwhitneyu(Attrition_yes.EmployeeID,Attrition_no.EmployeeID)
print(stats,p)

1286726.0 0.37980003278528107

__Attrition vs Gender__

In [21]:
stats,p = mannwhitneyu(Attrition_yes.Gender,Attrition_no.Gender)
print(stats,p)

1264340.5 0.11168342489992195

__Attrition vs JobLevel__

In [22]:
stats,p = mannwhitneyu(Attrition_yes.JobLevel,Attrition_no.JobLevel)
print(stats,p)

1288305.5 0.3940631141019965

__Attrition vs JobRole__

In [23]:
stats,p = mannwhitneyu(Attrition_yes.JobRole,Attrition_no.JobRole)
print(stats,p)

1250616.5 0.06684632220821743

__Attrition vs MaritalStatus__

In [24]:
stats,p = mannwhitneyu(Attrition_yes.MaritalStatus,Attrition_no.MaritalStatus)
print(stats,p)

988017.0 1.7735860515961855e-27

__Attrition vs MonthlyIncome__

In [25]:
stats,p = mannwhitneyu(Attrition_yes.MonthlyIncome,Attrition_no.MonthlyIncome)
print(stats,p)

1249573.5 0.06508807631576838

__Attrition vs NumCompaniesWorked__

In [26]:
stats,p = mannwhitneyu(Attrition_yes.NumCompaniesWorked,Attrition_no.NumCompaniesWorked)
print(stats,p)

1238814.5 0.02793197853866981

__Attrition vs PercentSalaryHike__

In [28]:
stats,p = mannwhitneyu(Attrition_yes.PercentSalaryHike,Attrition_no.PercentSalaryHike)
print(stats,p)

1231873.5 0.017810794960084964

__Attrition vs StockOptionLevel__

In [30]:
stats,p = mannwhitneyu(Attrition_yes.StockOptionLevel,Attrition_no.StockOptionLevel)
print(stats,p)

1276201.5 0.24144793587056157

__Attrition vs TotalWorkingYears__

In [31]:
stats,p = mannwhitneyu(Attrition_yes.TotalWorkingYears,Attrition_no.TotalWorkingYears)
print(stats,p)

895173.5 2.741211827689903e-39

__Attrition vs TrainingTimesLastYear__

In [32]:
stats,p = mannwhitneyu(Attrition_yes.TrainingTimesLastYear,Attrition_no.TrainingTimesLastYear)
print(stats,p)

1225582.0 0.008107344081224082

__Attrition vs YearsAtCompany__

In [33]:
stats,p = mannwhitneyu(Attrition_yes.YearsAtCompany,Attrition_no.YearsAtCompany)
print(stats,p)

912579.0 3.3433144809752036e-36

__Attrition vs YearsSinceLastPromotion__

In [34]:
stats,p = mannwhitneyu(Attrition_yes.YearsSinceLastPromotion,Attrition_no.YearsSinceLastPromotion)
print(stats,p)

1196606.0 0.00037904698157957496

__Attrition vs YearsWithCurrManager__

In [35]:
stats,p = mannwhitneyu(Attrition_yes.YearsWithCurrManager,Attrition_no.YearsWithCurrManager)
print(stats,p)

945958.5 5.420302388722274e-31

__Inference:__

1)There is no significant difference between the values DistanceFromHome, Education, EmployeeID, Gender, JobLevel, JobRole, MonthlyIncome, StockOptionLevel for Attrition="Yes" and Attrition="No" as p value is greater than 0.05(p>0.05) . So H0 is accepted and Ha is rejected.

2)For all the other parameters there is a significant difference for Attrition="Yes" and Attrition="No" as p value is lesser than 0.05(p<0.05) .So H0 is rejected and Ha is accepted.

__Two Sample Independent T Test__

In [36]:
from scipy.stats import ttest_ind

__Ho :__ There is No Significant Difference between Attrition(Yes) and Attrition(No) Data.

__Ha :__ There is Significant Difference between Attrition(Yes) and Attrition(No) Data.

__Attrition vs Age__

In [37]:
stats,p = ttest_ind(Attrition_yes.Age,Attrition_no.Age)
print(stats,p)

-10.617111568458819 5.126598219406314e-26

__Attrition vs DistanceFromHome__

In [40]:
stats,p = ttest_ind(Attrition_yes.DistanceFromHome,Attrition_no.DistanceFromHome)
print(stats,p)

-0.6253536318706914 0.5317715668047676

__Attrition vs Education__

In [41]:
stats,p = ttest_ind(Attrition_yes.Education,Attrition_no.Education)
print(stats,p)

-1.132287911067296 0.25757539308301036

__Attrition vs EmployeeID__

In [45]:
stats,p = ttest_ind(Attrition_yes.EmployeeID,Attrition_no.EmployeeID)
print(stats,p)

-0.305797970979733 0.7597730060959204

__Attrition vs JobLevel__

In [47]:
stats,p = ttest_ind(Attrition_yes.JobLevel,Attrition_no.JobLevel)
print(stats,p)

-0.8194945217630125 0.4125489150400852

__Attrition vs MonthlyIncome__

In [51]:
stats,p = ttest_ind(Attrition_yes.MonthlyIncome,Attrition_no.MonthlyIncome)
print(stats,p)

-1.9969640177214658 0.045890862744972095

__Attrition vs NumCompaniesWorked__

In [52]:
stats,p = ttest_ind(Attrition_yes.NumCompaniesWorked,Attrition_no.NumCompaniesWorked)
print(stats,p)

2.837197670884213 0.004572057121646456

__Attrition vs PercentSalaryHike__

In [55]:
stats,p = ttest_ind(Attrition_yes.PercentSalaryHike,Attrition_no.PercentSalaryHike)
print(stats,p)

2.1953267956195552 0.028192446935249534

__Attrition vs StockOptionLevel__

In [58]:
stats,p = ttest_ind(Attrition_yes.StockOptionLevel,Attrition_no.StockOptionLevel)
print(stats,p)

-0.5403260977526364 0.5889996358342873

__Attrition vs TotalWorkingYears__

In [60]:
stats,p = ttest_ind(Attrition_yes.TotalWorkingYears,Attrition_no.TotalWorkingYears)
print(stats,p)

-11.39422669317641 1.1645434967153693e-29

__Attrition vs TrainingTimesLastYear__

In [61]:
stats,p = ttest_ind(Attrition_yes.TrainingTimesLastYear,Attrition_no.TrainingTimesLastYear)
print(stats,p)

-3.152870411721613 0.00162766036355604

__Attrition vs YearsAtCompany__

In [62]:
stats,p = ttest_ind(Attrition_yes.YearsAtCompany,Attrition_no.YearsAtCompany)
print(stats,p)

-8.881225486705604 9.476118084889976e-19

__Attrition vs YearsSinceLastPromotion__

In [63]:
stats,p = ttest_ind(Attrition_yes.YearsSinceLastPromotion,Attrition_no.YearsSinceLastPromotion)
print(stats,p)

-2.080660880277173 0.03752293607413772

__Attrition vs YearsWithCurrManager__

In [64]:
stats,p = ttest_ind(Attrition_yes.YearsWithCurrManager,Attrition_no.YearsWithCurrManager)
print(stats,p)

-10.362463400192302 7.105369646808081e-25

__Inference:__

1)There is no significant difference between the values DistanceFromHome, Education, EmployeeID, JobLevel, StockOptionLevel for Attrition="Yes" and Attrition="No" as p value is greater than 0.05(p>0.05) . So H0 is accepted and Ha is rejected.

2)For all the other parameters there is a significant difference for Attrition="Yes" and Attrition="No" as p value is lesser than 0.05(p<0.05) .So H0 is rejected and Ha is accepted.

# Chi-Square Test

In [65]:
from scipy.stats import chi2_contingency

__Attrition vs Age__

__Ho :__ There is No dependency between Age and Attrition.

__Ha :__ There is dependency between Age and Attrition.

In [67]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.Age)
chitable

Age,18,19,20,21,22,23,24,25,26,27,...,51,52,53,54,55,56,57,58,59,60
Attrition,,,,,,,,,,,,,,,,,,,,,
No,12,9,15,21,32,30,57,60,80,134,...,51,44,51,54,57,32,12,27,30,15
Yes,11,18,18,18,15,12,21,18,36,9,...,6,9,6,0,9,9,0,15,0,0

In [69]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

352.3011830696416 1.20869585240706e-50

__Attrition vs BusinessTravel__

__Ho :__ There is No dependency between BusinessTravel and Attrition.

__Ha :__ There is dependency between BusinessTravel and Attrition.

In [70]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.BusinessTravel)
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [71]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

70.07594084831366 6.07019702736392e-16

__Attrition vs Department__

__Ho :__ There is No dependency between Department and Attrition.

__Ha :__ There is dependency between Department and Attrition.

In [72]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [73]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

25.89432541916022 2.382970570769315e-06

__Attrition vs DistanceFromHome__

__Ho :__ There is No dependency between DistanceFromHome and Attrition.

__Ha :__ There is dependency between DistanceFromHome and Attrition.

In [74]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.DistanceFromHome)
chitable

DistanceFromHome,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
Attrition,,,,,,,,,,,,,,,,,,,,,
No,528,513,219,158,162,156,204,206,218,198,...,65,48,48,68,75,69,72,27,56,69
Yes,94,114,29,32,30,21,48,33,35,60,...,9,6,9,12,9,6,3,9,11,12

In [75]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

103.09280258300478 1.5872525392897128e-10

__Attrition vs Education__

__Ho :__ There is No dependency between Education and Attrition.

__Ha :__ There is dependency between Education and Attrition.

In [76]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.Education)
chitable

Education    1    2     3     4    5
Attrition
No         430  683  1438  1003  123
Yes         78  159   263   185   20

In [77]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

6.2735361781270615 0.17963050984273224

__Attrition vs EducationField__

__Ho :__ There is No dependency between EducationField and Attrition.

__Ha :__ There is dependency between EducationField and Attrition.

In [78]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.EducationField)
chitable

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1505,400,1163,214,347
Yes,32,301,75,222,30,45

In [79]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

43.132860148900384 3.472896220587872e-08

__Attrition vs EmployeeCount__

__Ho :__ There is No dependency between EmployeeCount and Attrition.

__Ha :__ There is dependency between EmployeeCount and Attrition.

In [80]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.EmployeeCount)
chitable

EmployeeCount     1
Attrition
No             3677
Yes             705

In [81]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

0.0 1.0

__Attrition vs EmployeeID__

__Ho :__ There is No dependency between EmployeeID and Attrition.

__Ha :__ There is dependency between EmployeeID and Attrition.

In [84]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.EmployeeID)
chitable

EmployeeID,1,2,3,4,5,6,7,8,9,10,...,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409
Attrition,,,,,,,,,,,,,,,,,,,,,
No,1,0,1,1,1,1,0,1,1,1,...,1,1,1,0,1,1,1,1,1,1
Yes,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [85]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

4381.999999999999 0.4928974708089844

__Attrition vs Gender__

__Ho :__ There is No dependency between Gender and Attrition.

__Ha :__ There is dependency between Gender and Attrition.

In [86]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.Gender)
chitable

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [87]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

1.3825823839528295 0.23966176275638887

__Attrition vs JobLevel__

__Ho :__ There is No dependency between JobLevel and Attrition.

__Ha :__ There is dependency between JobLevel and Attrition.

In [88]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.JobLevel)
chitable

JobLevel      1     2    3    4    5
Attrition
No         1369  1307  555  267  179
Yes         250   283   96   51   25

In [89]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

7.036480574687178 0.13397290697032432

__Attrition vs JobRole__

__Ho :__ There is No dependency between JobRole and Attrition.

__Ha :__ There is dependency between JobRole and Attrition.

In [90]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.JobRole)
chitable

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
No,333,135,648,263,381,183,714,810,210
Yes,56,21,125,42,48,54,158,165,36

In [91]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

21.893724958847 0.005116592717526599

__Attrition vs MaritalStatus__

__Ho :__ There is No dependency between MaritalStatus and Attrition.

__Ha :__ There is dependency between MaritalStatus and Attrition.

In [93]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.MaritalStatus)
chitable

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [94]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

133.85785802925156 8.573051828219379e-30

__Attrition vs MonthlyIncome__

__Ho :__ There is No dependency between MonthlyIncome and Attrition.

__Ha :__ There is dependency between MonthlyIncome and Attrition.

In [95]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.MonthlyIncome)
chitable

MonthlyIncome,10090,10510,10520,10810,10910,11020,11180,11290,12000,12230,...,197170,197400,198330,198450,198470,198590,199260,199430,199730,199990
Attrition,,,,,,,,,,,,,,,,,,,,,
No,0,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,0,3,3,3,3
Yes,3,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,3,0,0,0,0

In [96]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

4006.81847073142 2.581841223898078e-261

__Attrition vs NumCompaniesWorked__

__Ho :__ There is No dependency between NumCompaniesWorked and Attrition.

__Ha :__ There is dependency between NumCompaniesWorked and Attrition.

In [97]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.NumCompaniesWorked)
chitable

NumCompaniesWorked  0.0   1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
Attrition
No                  515  1264  390  426  364  141  160  168  129  120
Yes                  69   292   48   48   49   46   48   51   18   36

In [98]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

75.85546138415296 1.0708854426925246e-12

__Attrition vs Over18__

__Ho :__ There is No dependency between Over18 and Attrition.

__Ha :__ There is dependency between Over18 and Attrition.

In [99]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.Over18)
chitable

Over18        Y
Attrition
No         3677
Yes         705

In [100]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

0.0 1.0

__Attrition vs PercentSalaryHike__

__Ho :__ There is No dependency between PercentSalaryHike and Attrition.

__Ha :__ There is dependency between PercentSalaryHike and Attrition.

In [101]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.PercentSalaryHike)
chitable

PercentSalaryHike,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
Attrition,,,,,,,,,,,,,,,
No,538,502,522,510,239,202,199,227,186,138,115,138,68,54,39
Yes,90,89,100,87,63,29,43,39,42,27,27,30,15,9,15

In [102]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

19.132665173042696 0.15994173676121282

__Attrition vs StandardHours__

__Ho :__ There is No dependency between StandardHours and Attrition.

__Ha :__ There is dependency between StandardHours and Attrition.

In [103]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.StandardHours)
chitable

StandardHours     8
Attrition
No             3677
Yes             705

In [104]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

0.0 1.0

__Attrition vs StockOptionLevel__

__Ho :__ There is No dependency between StockOptionLevel and Attrition.

__Ha :__ There is dependency between StockOptionLevel and Attrition.

In [105]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.StockOptionLevel)
chitable

StockOptionLevel     0     1    2    3
Attrition
No                1564  1509  388  216
Yes                316   267   84   38

In [106]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

3.444801419724394 0.32799207189761653

__Attrition vs TotalWorkingYears__

__Ho :__ There is No dependency between TotalWorkingYears and Attrition.

__Ha :__ There is dependency between TotalWorkingYears and Attrition.

In [107]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.TotalWorkingYears)
chitable

TotalWorkingYears,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,40.0
Attrition,,,,,,,,,,,,,,,,,,,,,
No,18,122,66,99,152,214,307,189,259,255,...,21,24,27,18,12,9,18,12,3,0
Yes,14,119,27,27,36,48,65,52,47,30,...,0,3,0,3,3,0,0,0,0,6

In [108]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

360.55237130857233 1.1111356799847907e-53

__Attrition vs TrainingTimesLastYear__

__Ho :__ There is No dependency between TrainingTimesLastYear and Attrition.

__Ha :__ There is dependency between TrainingTimesLastYear and Attrition.

In [109]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.TrainingTimesLastYear)
chitable

TrainingTimesLastYear    0    1     2     3    4    5    6
Attrition
No                     132  183  1351  1208  318  303  182
Yes                     30   29   278   258   47   51   12

In [110]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

22.87287815507605 0.000840192196419255

__Attrition vs YearsAtCompany__

__Ho :__ There is No dependency between YearsAtCompany and Attrition.

__Ha :__ There is dependency between YearsAtCompany and Attrition.

In [111]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.YearsAtCompany)
chitable

YearsAtCompany,0,1,2,3,4,5,6,7,8,9,...,27,29,30,31,32,33,34,36,37,40
Attrition,,,,,,,,,,,,,,,,,,,,,
No,84,333,300,322,272,521,200,235,212,219,...,6,6,3,6,6,12,3,6,3,0
Yes,47,176,81,59,56,61,27,33,27,24,...,0,0,0,3,3,3,0,0,0,3

In [112]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

284.1905063085053 2.434867576146702e-40

__Attrition vs YearsSinceLastPromotion__

__Ho :__ There is No dependency between YearsSinceLastPromotion and Attrition.

__Ha :__ There is dependency between YearsSinceLastPromotion and Attrition.

In [113]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.YearsSinceLastPromotion)
chitable

YearsSinceLastPromotion,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Attrition,,,,,,,,,,,,,,,,
No,1405,916,396,128,166,129,77,179,54,39,15,65,30,24,24,30
Yes,325,146,81,27,15,6,18,48,0,12,3,6,0,6,3,9

In [114]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

64.22958433145763 4.66086831785978e-08

__Attrition vs YearsWithCurrManager__

__Ho :__ There is No dependency between YearsWithCurrManager and Attrition.

__Ha :__ There is dependency between YearsWithCurrManager and Attrition.

In [116]:
chitable = pd.crosstab(Dataset.Attrition, Dataset.YearsWithCurrManager)
chitable

YearsWithCurrManager,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Attrition,,,,,,,,,,,,,,,,,,
No,530,194,878,367,260,81,73,551,290,171,72,63,54,42,9,15,6,21
Yes,252,33,149,55,33,12,12,93,30,18,9,3,0,0,6,0,0,0

In [117]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

220.87460913849154 1.7543020110084458e-37

__Inference:__
    
1)There is no dependency between Attrition and Education,EmployeeCount,EmployeeID,Gender,JobLevel,Over18,PercentSalaryHike,StandardHours,StockOptionLevel as the p value is greater than 0.05(p>0.05). So H0 is accepted.

2)For all other parameters there is a dependecy with Attrition as the p value is lesser than 0.05(p<0.05). So Ha is accepted.