# Day 11 Assignement

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Dataset=pd.read_csv("general_data.csv")

In [2]:
Dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
Dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [4]:
Dataset.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [5]:
Dataset=Dataset.dropna()

In [6]:
Dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4404    False
4405    False
4406    False
4407    False
4408    False
Length: 4382, dtype: bool

In [8]:
Dataset=Dataset.drop_duplicates()

In [9]:
Dataset.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000
mean,36.933364,9.198996,2.912369,1.0,2207.804884,2.063898,65061.702419,2.693291,15.210634,8.0,0.794614,11.290278,2.798266,7.010497,2.191693,4.126198
std,9.137272,8.105396,1.024728,0.0,1271.688783,1.106115,47142.310175,2.497832,3.663007,0.0,0.852397,7.785717,1.289402,6.129351,3.224994,3.569674
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1108.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2208.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3308.750000,3.000000,83790.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4409.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

In [10]:
from sklearn import preprocessing
Label_encoder=preprocessing.LabelBinarizer()
Dataset["Attrition"]=Label_encoder.fit_transform(Dataset["Attrition"])

__Correlation Analysis:__

In [11]:
from scipy.stats import pearsonr

__Attrition vs Age__

__H0 :__ There is no Significant correlation between Attrition and Age.

__Ha :__ There is Significant correlation between Attrition and Age.

In [12]:
stats,p = pearsonr(Dataset.Attrition, Dataset.Age)
print(stats,p)

-0.1583986795409671 5.1265982193780794e-26

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs DistanceFromHome__

__H0 :__ There is no Significant correlation between Attrition and DistanceFromHome.

__Ha :__ There is Significant correlation between Attrition and DistanceFromHome.

In [13]:
stats,p = pearsonr(Dataset.Attrition, Dataset.DistanceFromHome)
print(stats,p)

-0.009448638515156248 0.5317715668019558

__p>0.05 H0 is accepted__

__Attrition vs Education__

__H0 :__ There is no Significant correlation between Attrition and Education.

__Ha :__ There is Significant correlation between Attrition and Education.

In [14]:
stats,p = pearsonr(Dataset.Attrition, Dataset.Education)
print(stats,p)

-0.017106307050278723 0.25757539308157945

__p>0.05 H0 is accepted__

__Attrition vs EmployeeID__

__H0 :__ There is no Significant correlation between Attrition and EmployeeID.

__Ha :__ There is Significant correlation between Attrition and EmployeeID.

In [15]:
stats,p = pearsonr(Dataset.Attrition, Dataset.EmployeeID)
print(stats,p)

-0.004620541850379514 0.7597730060918658

__p>0.05 H0 is accepted__

__Attrition vs JobLevel__

__H0 :__ There is no Significant correlation between Attrition and JobLevel.

__Ha :__ There is Significant correlation between Attrition and JobLevel.

In [16]:
stats,p = pearsonr(Dataset.Attrition, Dataset.JobLevel)
print(stats,p)

-0.012381569720790877 0.4125489150380087

__p>0.05 H0 is accepted__

__Attrition vs MonthlyIncome__

__H0 :__ There is no Significant correlation between Attrition and MonthlyIncome.

__Ha :__ There is Significant correlation between Attrition and MonthlyIncome.

In [17]:
stats,p = pearsonr(Dataset.Attrition, Dataset.MonthlyIncome)
print(stats,p)

-0.030160293808460664 0.045890862744719166

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs NumCompaniesWorked__

__H0 :__ There is no Significant correlation between Attrition and NumCompaniesWorked.

__Ha :__ There is Significant correlation between Attrition and NumCompaniesWorked.

In [18]:
stats,p = pearsonr(Dataset.Attrition, Dataset.NumCompaniesWorked)
print(stats,p)

0.04283056724472088 0.004572057121620842

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs PercentSalaryHike__

__H0 :__ There is no Significant correlation between Attrition and PercentSalaryHike.

__Ha :__ There is Significant correlation between Attrition and PercentSalaryHike.

In [19]:
stats,p = pearsonr(Dataset.Attrition, Dataset.PercentSalaryHike)
print(stats,p)

0.03315303713546665 0.028192446935106235

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs StockOptionLevel__

__H0 :__ There is no Significant correlation between Attrition and StockOptionLevel.

__Ha :__ There is Significant correlation between Attrition and StockOptionLevel.

In [20]:
stats,p = pearsonr(Dataset.Attrition, Dataset.StockOptionLevel)
print(stats,p)

-0.008164026684984328 0.588999635831226

__p>0.05 H0 is accepted__

__Attrition vs TotalWorkingYears__

__H0 :__ There is no Significant correlation between Attrition and TotalWorkingYears.

__Ha :__ There is Significant correlation between Attrition and TotalWorkingYears.

In [21]:
stats,p = pearsonr(Dataset.Attrition, Dataset.TotalWorkingYears)
print(stats,p)

-0.1696699168472392 1.1645434967091854e-29

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs TrainingTimesLastYear__

__H0 :__ There is no Significant correlation between Attrition and TrainingTimesLastYear.

__Ha :__ There is Significant correlation between Attrition and TrainingTimesLastYear.

In [22]:
stats,p = pearsonr(Dataset.Attrition, Dataset.TrainingTimesLastYear)
print(stats,p)

-0.04758573693081737 0.0016276603635477602

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs YearsAtCompany__

__H0 :__ There is no Significant correlation between Attrition and YearsAtCompany.

__Ha :__ There is Significant correlation between Attrition and YearsAtCompany.

In [23]:
stats,p = pearsonr(Dataset.Attrition, Dataset.YearsAtCompany)
print(stats,p)

-0.1330026184252154 9.476118084836507e-19

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs YearsSinceLastPromotion__

__H0 :__ There is no Significant correlation between Attrition and YearsSinceLastPromotion.

__Ha :__ There is Significant correlation between Attrition and YearsSinceLastPromotion.

In [24]:
stats,p = pearsonr(Dataset.Attrition, Dataset.YearsSinceLastPromotion)
print(stats,p)

-0.03142315056330995 0.03752293607395154

__p<0.05 H0 is rejected and Ha is accepted__

__Attrition vs YearsWithCurrManager__

__H0 :__ There is no Significant correlation between Attrition and YearsWithCurrManager.

__Ha :__ There is Significant correlation between Attrition and YearsWithCurrManager.

In [25]:
stats,p = pearsonr(Dataset.Attrition, Dataset.YearsWithCurrManager)
print(stats,p)

-0.15469153690287274 7.105369646771178e-25

__p<0.05 H0 is rejected and Ha is accepted__

__Correlation Matrix__

In [27]:
Dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,NaN,-0.004621,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000